
.seccion p {
    height: 100px;
}
.navbar-nav li {
    margin-right: 30px; /* Espaciado entre elementos li */
    font-size: 22px; /* Tamaño de fuente */
}
.inicio{
    font-size: 24px; /* Tamaño de fuente */
}
.bg-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../public/img/maxresdefault.jpg');
    height: 300px;
    width: 100%
}
body{
    background-color:whitesmoke ;
}